p {
    color:rgb(220, 46, 75) !important;
}

p {
    color: green;
}

.green {
    color: green !important;
    transform: rotate(45deg);
}

/* .green {
    color: red;
} */

.fixiravanaya {
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: -1;
}